@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
    
body
    position: relative
    margin: 0

.site-header
    width: 100%
    position: relative
    min-height: 760px
    height: 100%
    overflow: hidden
.main-header
    padding-top: 10px
    padding-bottom: 10px
    font-family: 'Chelsea Market', cursive
    position: relative
    z-index: 2
    .logo-link
        text-decoration: none
        color: #ffffff
        &:hover
            text-decoration: none
            color: #ffffff
        h1
            i
                display: inline-block
                margin-right: 10px
            margin: 0
            font-size: 36px
    .main-nav
       
        display: inline-block
        ul
            
            margin-left: 100px
            margin-bottom: 0
            padding: 0
            list-style-type: none
            li
                display: inline-block
                font-size: 22px
                margin-right: 25px
                a
                    text-decoration: none
                    color: #ffffff
                    position: relative
                    overflow: hidden
                    &::after
                        content: ''
                        position: absolute
                        left: 0
                        bottom: 0
                        width: 0%
                        height: 2px
                        display: inline-block
                        background-color: #fff
                        transition: .5s ease
                        opacity: 0
                    &:hover
                        text-decoration: none
                        color: #ffffff
                        &::after
                            width: 100%
                            opacity: 1
    
.sticky
    padding-top: 10px
    padding-bottom: 10px
    font-family: 'Chelsea Market', cursive
    position: fixed
    height: 70px
    background-color: #ffffff
    top: 0
    left: 0
    z-index: 3
    opacity: 0
    width: 100%
    .logo-link
        text-decoration: none
        color: #000
        &:hover
            text-decoration: none
            color: #000
        h1
            i
                display: inline-block
                margin-right: 10px
            margin: 0
            font-size: 36px
    .main-nav
       
        display: inline-block
        ul
            
            margin-left: 100px
            margin-bottom: 0
            padding: 0
            list-style-type: none
            li
                display: inline-block
                font-size: 22px
                margin-right: 25px
                a
                    text-decoration: none
                    color: #000
                    position: relative
                    overflow: hidden
                    &::after
                        content: ''
                        position: absolute
                        left: 0
                        bottom: 0
                        width: 0%
                        height: 2px
                        display: inline-block
                        background-color: #000
                        transition: .5s ease
                        opacity: 0
                    &:hover
                        text-decoration: none
                        color: #000
                        &::after
                            width: 100%
                            opacity: 1
.text-composition
    position: relative
    z-index: 2
    color: #ffffff
    text-align: center
    padding-top: 120px
    font-family: 'Chelsea Market', cursive
    .h1
        font-size: 75px
        margin-bottom: 25px
    p
        font-size: 32px
.iccon-down
    font-size: 60px
    color: #ffffff
    position: absolute
    z-index: 2
    left: 48%
    bottom: 10%
    animation: 1s ease infinite opacity


.div-lock
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: rgba(#000, .5)
    z-index: 1
    
section
    position: relative
    overflow: hidden
    background-color: #F0F0F0
    padding-top: 45px
    padding-bottom: 45px
    


.premos-wrapper
    font-family: 'Chelsea Market', cursive
    display: inline-block
    text-align: center
    margin-bottom: 45px
    .logos-wrapper
        display: inline-block
        margin-bottom: 10px
        width: 80px
        height: 80px
        border-radius: 50%
        padding-top: 22px
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        i
            font-size: 32px
            color: #ffffff
.top-line
    text-align: center
    font-family: 'Chelsea Market', cursive
   
    padding-bottom: 45px
    p
        display: inline-block
        width: 40%

.item-wrapper
   
    background-color: #fff
    display: inline-block
    width: 100%
    text-align: center
    padding-top: 20px
    padding-bottom: 20px
    -webkit-box-shadow: 4px 4px 14px -6px rgba(0,0,0,0.74);
    -moz-box-shadow: 4px 4px 14px -6px rgba(0,0,0,0.74);
    box-shadow: 4px 4px 14px -6px rgba(0,0,0,0.74);
    border-radius: 10px
    .price-composition
        p
            margin: 0
        .old-price
            color: #FF2B2B
            text-decoration: line-through
            font-size: 24px
        .price
            font-family: 'Chelsea Market', cursive
            color: #000
            font-size: 22px
            font-weight: 700
            margin-bottom: 15px
    .name-composition
        font-family: 'Chelsea Market', cursive
        color: #000
        font-size: 24px
        font-weight: 500
    .add-service
        display: inline-block
        background-color: #22268F
        font-size: 22px
        padding: 7px 22px
        border-radius: 5px
        color: #ffffff
        text-decoration: none
        &:hover
            text-decoration: none
            color: #ffffff



@keyframes opacity
    0%
        opacity: 1
    50%
        opacity: .7
    100%
        opacity: .5

.site-footer
    overflow: hidden
    font-family: 'Chelsea Market', cursive
    position: relative
    padding-top: 45px
    padding-bottom: 45px
    text-align: center
    background-color: #1C1C1C
    a
        font-size: 46px
        color: #ffffff
        text-decoration: none
        display: inline-block
        margin-bottom: 25px
        &:hover
            
            color: #ffffff
    p
        font-size: 32px
        color: #ffffff

.hidden-form
    text-align: center
    .input-label
        display: inline-block
        position: relative
        
        height: 50px
        padding-top: 15px
        input
            
            border: none
            border-bottom: 2px solid #000
            outline: none
            
            padding: 5px 0
            z-index: 1
        p
            top: 10px
            margin: 0
            z-index: 0
            position: absolute
    button
        display: inline-block
        background-color: #22268F
        font-size: 22px
        padding: 7px 22px
        border-radius: 5px
        color: #ffffff
        text-decoration: none
        border: none







.admin-header
    padding-top: 5px
    padding-bottom: 5px
    text-align: center
    background-image: linear-gradient(to right bottom, #d71ab3, #ce14b7, #c310ba, #b80fbe, #ac10c2);
    h3
        display: inline-block
        color: #ffffff
        font-weight: 800
        font-family: 'Chelsea Market', cursive
.main-admin
    padding-top: 30px
    padding-bottom: 30px
    text-align: center
    position: relative
    ul
        list-style-type: none
        li
            display: inline-block
            a
                text-decoration: none
                color: #ffffff
                padding: 5px 15px
                background-color: #045FB4
                transition: .5s ease
                &:hover
                    background: #d71ab3
.main-service
    width: 100%
    .header-table
        border: 2px solid #000
        text-align: center
        td
            padding: 10px
            border-right: 2px solid #000
            font-family: 'Chelsea Market', cursive
    .load-service
        border: 2px solid #045FB4
        text-align: center
        tr
            height: 35px
        td
            
            border-bottom: 2px solid #045FB4
            font-family: 'Chelsea Market', cursive
        a
            text-decoration: none
            color: #d71ab3
            position: relative
            overflow: hidden
            &::after
                content: ''
                position: absolute
                width: 0%
                height: 1px
                left: 0
                bottom: 0
                background-color: #d71ab3
                display: inline-block
                transition: .5s ease
            &:hover
                &::after
                    width: 100%
.table-order
    width: 100%
    .header-table
        border: 2px solid #000
        text-align: center
        td
            padding: 10px
            border-right: 2px solid #000
            font-family: 'Chelsea Market', cursive
    .load-order
        border: 2px solid #045FB4
        text-align: center
        tr
            height: 35px
        td
            
            border-bottom: 2px solid #045FB4
            font-family: 'Chelsea Market', cursive
    .status-order
        background-color: #A52019
        color: #ffffff
        padding: 2px
        border-radius: 5px
    .status-order-succ
        background-color: #51D00B
        color: #ffffff
        padding: 2px
        border-radius: 5px
.remove-service
    text-align: center
    input
        width: 70%
        height: 30px
        display: inline-block
        margin-bottom: 10px
        font-family: 'Chelsea Market', cursive
        text-align: center
    button
        display: inline-block
        padding: 5px 15px
        border-radius: 5px
        border: none
        background-color: #045FB4
        color: #ffffff
        outline: none
    a
        display: inline-block
        padding: 5px 15px
        border-radius: 5px
        border: none
        background-color: #d71ab3
        color: #ffffff
        outline: none
.add-servise
    background-color: #d71ab3
    font-size: 22px
    display: inline-block
    text-align: right
    color: #ffffff
    text-decoration: none
    padding: 5px 15px
    border-radius: 15px
    &:hover
        color: #ffffff
        text-decoration: none
.add-form
    text-align: center
    font-family: 'Chelsea Market', cursive
    input
        width: 70%
        height: 35px
        display: inline-block
        margin-bottom: 15px
        padding: 5px 15px
        text-align: center
        font-family: 'Chelsea Market', cursive
    select
        width: 70%
        height: 35px
        font-size: 18px
        font-family: 'Chelsea Market', cursive
        display: inline-block
        margin-bottom: 10px
    .h3-add
        font-family: 'Chelsea Market', cursive
    button
        font-size: 22px
        color: #ffffff
        background-color: #045FB4
        line-height: 38px
        border-radius: 5px
        outline: none
        border: none
        transition: .5s ease
        &:hover
            transform: scale(1.1)

.link-cont-wrapper
    display: inline-block
    margin-right: 25px
    a
        text-decoration: none
        color: #ffffff
        font-size: 24px
        display: inline-block
        margin-right: 25px
        transition: .2s ease
        &:hover
            text-decoration: none
            color: #ffffff
            transform: scale(1.1)                       
.stick 
    display: inline-block
    margin-right: 25px
    a
        text-decoration: none
        color: #000000
        font-size: 24px
        display: inline-block
        margin-right: 25px
        transition: .2s ease
        &:hover
            text-decoration: none
            color: #000000
            transform: scale(1.1)    
.mobile-header
    position: fixed
    height: 55px
    width: 100%
    background-color: #000
    z-index: 3       
.hamburger
    display: inline-block
    position: absolute
    z-index: 3 
.mobile-nav
    padding-top: 10px
    padding-bottom: 15px
    position: relative
    bottom: 200px
    width: 100%
    z-index: 3
    background-color: #ffffff
    opacity: 1
    
    .close-nav-mobile
        
        position: absolute
        right: 30px
        top: 0
        text-decoration: none
        color: #000000
        font-size: 24px
    ul
        display: inline-block
        margin: 0
        position: relative
        left: 20%
        list-style-type: none
        font-family: 'Chelsea Market', cursive
        li
            text-align: center
            a
                text-decoration: none
                color: #000000
                display: inline-block
                margin-bottom: 10px
.h1-logo-mobile
    position: absolute
    font-size: 30px
    left: 30%
    z-index: 3
    top: 5px
.logo-mobile
    a
        text-decoration: none
        color: #ffffff
        &:hover
            text-decoration: none
            color: #ffffff


@media (max-width: 1300px)
    .main-header .main-nav ul
        margin: 0
    .main-header .main-nav ul li
        margin-right: 10px

@media (max-width: 1080px)
    .main-header .main-nav ul li
        margin-right: 10px

@media (max-width: 1060px)
    .sticky
        display: none
    .main-header
        display: none
    .mobile-header
        display: block
    .h1-logo-mobile
        left: 40%
    .mobile-nav
        ul
            left: 40%
@media (max-width: 480px)
    .main-header
        .logo-wrapper 
            text-align: center 
        .logo-link
            
            h1
                display: inline-block
        .main-nav
            ul
                margin-left: 0
    .sticky
        display: none
    .main-header
        display: none
    .iccon-down
        display: none
    .text-composition 
        .h1
            font-size: 40px
        p
           font-size: 30px
    .site-footer a
        font-size: 26px
    .top-line p 
        width: 100%
    .item-wrapper
        margin-bottom: 20px
@media (min-width: 480px)
    //
@media (min-width: 1061px)
    .mobile-header
        display: none
    
