@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
.site-header {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #ffffff;
  text-align: center;
}

.site-header .h1 {
  display: inline-block;
  font-size: 46px;
  display: inline-block;
  font-family: 'Chelsea Market', cursive;
  font-weight: 700;
  margin-bottom: 25px;
}

.site-header .main-text {
  font-size: 22px;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  margin-bottom: 20px;
}

.site-header i {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  display: inline-block;
}

.site-header .main-nav {
  text-align: center;
}

.site-header .main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-header .main-nav ul li {
  margin-bottom: 5px;
}

.site-header .main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
  width: 170px;
  height: 45px;
  border-radius: 10px;
  -webkit-box-shadow: 36px 17px 20px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 36px 17px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.site-header .main-nav ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg-lock {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.logo-nav {
  display: inline-block;
  padding: 0;
  margin: 2px;
  font-size: 22px;
  font-family: 'Chelsea Market', cursive;
}

.main-parse {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-line-category {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.top-line-category .h1 {
  display: inline-block;
  font-family: 'Chelsea Market', cursive;
  font-weight: 800;
  font-size: 52px;
}

.item-wrapper {
  text-align: center;
  width: 100%;
  border: 4px solid #045FB4;
  padding: 45px 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.item-wrapper .icon-wrap {
  width: 100%;
  background-color: #045FB4;
  position: absolute;
  left: 0;
  top: 0px;
  padding: 5px 0;
}

.item-wrapper .icon-wrap i {
  font-size: 22px;
  color: #ffffff;
}

.item-wrapper .name-service {
  font-family: 'Chelsea Market', cursive;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item-wrapper .price {
  font-size: 18px;
  font-weight: 500;
}

.item-wrapper .old-price {
  font-size: 18px;
  font-weight: 500;
  color: #FF4000;
}

.item-wrapper .old-price span {
  text-decoration: line-through;
}

.item-wrapper .start-order {
  display: inline-block;
  font-size: 22;
  text-decoration: none;
  color: #000000;
  padding: 5px 15px;
  background-color: #045FB4;
  color: #ffffff;
  font-size: 22px;
  line-height: 32px;
  border-radius: 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.item-wrapper .start-order:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */