@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
    
.site-header
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    position: relative
    padding-top: 75px
    padding-bottom: 75px
    color: #ffffff
    text-align: center
    .h1
        display: inline-block
        font-size: 46px
        display: inline-block
        font-family: 'Chelsea Market', cursive;
        font-weight: 700
        margin-bottom: 25px
    .main-text
        font-size: 22px
        font-family: 'Chelsea Market', cursive;
        text-align: center
        margin-bottom: 20px
    i
        text-align: center
        color: #ffffff
        font-size: 32px
        display: inline-block
    .main-nav
        text-align: center
        ul
            list-style-type: none
            margin: 0
            padding: 0
            li
                margin-bottom: 5px
                a
                    text-decoration: none
                    color: #ffffff
                    display: inline-block
                    font-size: 22px
                    margin-bottom: 10px
                    border: 2px solid #ffffff
                    width: 170px
                    height: 45px
                    border-radius: 10px
                    -webkit-box-shadow: 36px 17px 20px -20px rgba(0,0,0,0.75);
                    -moz-box-shadow: 36px 17px 20px -20px rgba(0,0,0,0.75);
                    box-shadow: 36px 17px 20px -20px rgba(0,0,0,0.75);
                    transition: .5s ease
                    &:hover
                        transform: scale(1.1)
.bg-lock
    background-color: rgba(0, 0, 0, .50);
    position: absolute
    width: 100%
    height: 100%
    top: 0                    
.logo-nav
    display: inline-block
    padding: 0
    margin: 2px
    font-size: 22px
    font-family: 'Chelsea Market', cursive;
.main-parse
    position: relative
    overflow: hidden
    padding-top: 20px
    padding-bottom: 20px
.top-line-category
    padding-top: 10px
    padding-bottom: 30px
    text-align: center
    .h1
        display: inline-block
        font-family: 'Chelsea Market', cursive
        font-weight: 800
        font-size: 52px
.item-wrapper
    text-align: center
    width: 100%
    border: 4px solid #045FB4
    padding: 45px 20px
    border-radius: 15px
    position: relative
    overflow: hidden
    .icon-wrap
        width: 100%
        background-color: #045FB4
        position: absolute
        left: 0
        top: 0px
        padding: 5px 0
        i
            font-size: 22px
            color: #ffffff
    .name-service
        font-family: 'Chelsea Market', cursive
        font-size: 22px
        font-weight: 700
        margin-bottom: 10px
    .price
        font-size: 18px
        font-weight: 500
    .old-price
        font-size: 18px
        font-weight: 500
        color: #FF4000
        span
            text-decoration: line-through

    .start-order
        display: inline-block
        font-size: 22
        text-decoration: none
        color: #000000
        padding: 5px 15px
        background-color: #045FB4
        color: #ffffff
        font-size: 22px
        line-height: 32px
        border-radius: 10px
        transition: .5s ease
        &:hover
            transform: scale(1.1)
.category-wrapper
    padding-top: 30px
    padding-bottom: 30px
.hidden
    width: 350px
    height: 190px
    padding-top: 20px
    padding-bottom: 20px
    border-radius: 15px
    text-align: center
    .form-label
        margin-bottom: 20px
        color: #045FB4
        font-weight: 700
        font-family: 'Chelsea Market', cursive
    
    input
        width: 100%
        border: none
        border-bottom: 2px solid #045FB4
        height: 40px
        outline: none
        transition: .3s ease
        display: inline-block
        margin-bottom: 20px
        &:focus
            border-bottom: 2px solid #bc1888
    button
        font-size: 22px
        color: #ffffff
        background-color: #045FB4
        line-height: 38px
        border-radius: 5px
        outline: none
        border: none
        transition: .5s ease
        &:hover
            transform: scale(1.1)
.admin-header
    padding-top: 5px
    padding-bottom: 5px
    text-align: center
    background-image: linear-gradient(to right bottom, #d71ab3, #ce14b7, #c310ba, #b80fbe, #ac10c2);
    h3
        display: inline-block
        color: #ffffff
        font-weight: 800
        font-family: 'Chelsea Market', cursive
.main-admin
    padding-top: 30px
    padding-bottom: 30px
    text-align: center
    position: relative
    ul
        list-style-type: none
        li
            display: inline-block
            a
                text-decoration: none
                color: #ffffff
                padding: 5px 15px
                background-color: #045FB4
                transition: .5s ease
                &:hover
                    background: #d71ab3
.main-service
    width: 100%
    .header-table
        border: 2px solid #000
        text-align: center
        td
            padding: 10px
            border-right: 2px solid #000
            font-family: 'Chelsea Market', cursive
    .load-service
        border: 2px solid #045FB4
        text-align: center
        tr
            height: 35px
        td
            
            border-bottom: 2px solid #045FB4
            font-family: 'Chelsea Market', cursive
        a
            text-decoration: none
            color: #d71ab3
            position: relative
            overflow: hidden
            &::after
                content: ''
                position: absolute
                width: 0%
                height: 1px
                left: 0
                bottom: 0
                background-color: #d71ab3
                display: inline-block
                transition: .5s ease
            &:hover
                &::after
                    width: 100%
.remove-service
    text-align: center
    input
        width: 70%
        height: 30px
        display: inline-block
        margin-bottom: 10px
        font-family: 'Chelsea Market', cursive
        text-align: center
    button
        display: inline-block
        padding: 5px 15px
        border-radius: 5px
        border: none
        background-color: #045FB4
        color: #ffffff
        outline: none
    a
        display: inline-block
        padding: 5px 15px
        border-radius: 5px
        border: none
        background-color: #d71ab3
        color: #ffffff
        outline: none
                        

    
        
                    

