@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
.site-header {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #ffffff;
  text-align: center;
}

.site-header .h1 {
  display: inline-block;
  font-size: 46px;
  display: inline-block;
  font-family: 'Chelsea Market', cursive;
  font-weight: 700;
  margin-bottom: 25px;
}

.site-header .main-text {
  font-size: 22px;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  margin-bottom: 20px;
}

.site-header i {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  display: inline-block;
}

.site-header .main-nav {
  text-align: center;
}

.site-header .main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-header .main-nav ul li {
  margin-bottom: 5px;
}

.site-header .main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
  width: 170px;
  height: 45px;
  border-radius: 10px;
  -webkit-box-shadow: 36px 17px 20px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 36px 17px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.site-header .main-nav ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg-lock {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.logo-nav {
  display: inline-block;
  padding: 0;
  margin: 2px;
  font-size: 22px;
  font-family: 'Chelsea Market', cursive;
}

.main-parse {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-line-category {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.top-line-category .h1 {
  display: inline-block;
  font-family: 'Chelsea Market', cursive;
  font-weight: 800;
  font-size: 52px;
}

.item-wrapper {
  text-align: center;
  width: 100%;
  border: 4px solid #045FB4;
  padding: 45px 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.item-wrapper .icon-wrap {
  width: 100%;
  background-color: #045FB4;
  position: absolute;
  left: 0;
  top: 0px;
  padding: 5px 0;
}

.item-wrapper .icon-wrap i {
  font-size: 22px;
  color: #ffffff;
}

.item-wrapper .name-service {
  font-family: 'Chelsea Market', cursive;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item-wrapper .price {
  font-size: 18px;
  font-weight: 500;
}

.item-wrapper .old-price {
  font-size: 18px;
  font-weight: 500;
  color: #FF4000;
}

.item-wrapper .old-price span {
  text-decoration: line-through;
}

.item-wrapper .start-order {
  display: inline-block;
  font-size: 22;
  text-decoration: none;
  color: #000000;
  padding: 5px 15px;
  background-color: #045FB4;
  color: #ffffff;
  font-size: 22px;
  line-height: 32px;
  border-radius: 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.item-wrapper .start-order:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hidden {
  width: 350px;
  height: 190px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  text-align: center;
}

.hidden .form-label {
  margin-bottom: 20px;
  color: #045FB4;
  font-weight: 700;
  font-family: 'Chelsea Market', cursive;
}

.hidden input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #045FB4;
  height: 40px;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
  margin-bottom: 20px;
}

.hidden input:focus {
  border-bottom: 2px solid #bc1888;
}

.hidden button {
  font-size: 22px;
  color: #ffffff;
  background-color: #045FB4;
  line-height: 38px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.hidden button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.admin-header {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d71ab3), color-stop(#ce14b7), color-stop(#c310ba), color-stop(#b80fbe), to(#ac10c2));
  background-image: linear-gradient(to right bottom, #d71ab3, #ce14b7, #c310ba, #b80fbe, #ac10c2);
}

.admin-header h3 {
  display: inline-block;
  color: #ffffff;
  font-weight: 800;
  font-family: 'Chelsea Market', cursive;
}

.main-admin {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
}

.main-admin ul {
  list-style-type: none;
}

.main-admin ul li {
  display: inline-block;
}

.main-admin ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #045FB4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.main-admin ul li a:hover {
  background: #d71ab3;
}

.main-service {
  width: 100%;
}

.main-service .header-table {
  border: 2px solid #000;
  text-align: center;
}

.main-service .header-table td {
  padding: 10px;
  border-right: 2px solid #000;
  font-family: 'Chelsea Market', cursive;
}

.main-service .load-service {
  border: 2px solid #045FB4;
  text-align: center;
}

.main-service .load-service tr {
  height: 35px;
}

.main-service .load-service td {
  border-bottom: 2px solid #045FB4;
  font-family: 'Chelsea Market', cursive;
}

.main-service .load-service a {
  text-decoration: none;
  color: #d71ab3;
  position: relative;
  overflow: hidden;
}

.main-service .load-service a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #d71ab3;
  display: inline-block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.main-service .load-service a:hover::after {
  width: 100%;
}

.table-order {
  width: 100%;
}

.table-order .header-table {
  border: 2px solid #000;
  text-align: center;
}

.table-order .header-table td {
  padding: 10px;
  border-right: 2px solid #000;
  font-family: 'Chelsea Market', cursive;
}

.table-order .load-order {
  border: 2px solid #045FB4;
  text-align: center;
}

.table-order .load-order tr {
  height: 35px;
}

.table-order .load-order td {
  border-bottom: 2px solid #045FB4;
  font-family: 'Chelsea Market', cursive;
}

.table-order .status-order {
  background-color: #A52019;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.table-order .status-order-succ {
  background-color: #51D00B;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.remove-service {
  text-align: center;
}

.remove-service input {
  width: 70%;
  height: 30px;
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
}

.remove-service button {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #045FB4;
  color: #ffffff;
  outline: none;
}

.remove-service a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #d71ab3;
  color: #ffffff;
  outline: none;
}

.add-servise {
  background-color: #d71ab3;
  font-size: 22px;
  display: inline-block;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
}

.add-servise:hover {
  color: #ffffff;
  text-decoration: none;
}

.add-form {
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.add-form input {
  width: 70%;
  height: 35px;
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.add-form select {
  width: 70%;
  height: 35px;
  font-size: 18px;
  font-family: 'Chelsea Market', cursive;
  display: inline-block;
  margin-bottom: 10px;
}

.add-form .h3-add {
  font-family: 'Chelsea Market', cursive;
}

.add-form button {
  font-size: 22px;
  color: #ffffff;
  background-color: #045FB4;
  line-height: 38px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.add-form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=main.css.map */